<div class="footer-div">
    <p>© 2026 Coldin04(酷丁) &nbsp;</p>
    <p>
        <a href="https://blog.cold04.com" target="_blank">博客</a>
        &nbsp;|&nbsp;
        <a href="https://note.cold04.com" target="_blank">笔记</a>
        &nbsp;|&nbsp;
        <a href="https://blog.cold04.com/links" target="_blank">友链</a>
    </p>
    <p>
        友情推荐: &nbsp;
        <a href="https://img.lhl.one/" target="_blank">聚合图床</a>
        &nbsp;|&nbsp;
        <a href="https://forum.naixi.net/" target="_blank">奶昔论坛</a>
        &nbsp;|&nbsp;
        <a href="https://dot.mindreset.tech/" target="_blank">MindReset</a>
    </p>
    <a href="https://icp.gov.moe/?keyword=20239972" class="mdui-text-color-theme-700">萌ICP备20239972号</a>
</div>
