<div class="footer-div">
    <p>© 2026 Coldin04(酷丁) &nbsp;</p>
    <p>
        <a href="https://blog.cold04.com" target="_blank" rel="noopener noreferrer">博客</a>
        &nbsp;|&nbsp;
        <a href="https://note.cold04.com" target="_blank" rel="noopener noreferrer">笔记</a>
        &nbsp;|&nbsp;
        <a href="/friends/">友链</a>
    </p>
    <p>
        友情推荐: &nbsp;
        <a href="https://img.lhl.one/" target="_blank" rel="noopener noreferrer">聚合图床</a>
        &nbsp;|&nbsp;
        <a href="https://forum.naixi.net/" target="_blank" rel="noopener noreferrer">奶昔论坛</a>
        &nbsp;|&nbsp;
        <a href="https://dot.mindreset.tech/" target="_blank" rel="noopener noreferrer">MindReset</a>
    </p>
    <a href="https://icp.gov.moe/?keyword=20239972">萌ICP备20239972号</a>
</div>
